.header-whole-wrapper {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    padding: 0 25px;
    top: 0;

    .logo-wrapper {
        img {
            height: 55px;
        }
    }

    fa-icon {
        font-size: 28px;
    }
}