@import '../../../assets/variables.scss';


.background-box {
    height: 165px;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.words-wrapper {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: 300;
    color: $off-white;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;

    .single-word {
        position: relative;
        &::after {
            display: block;
            content: attr(title);
            font-weight: 500;
            height: 1px;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
        }
        
        &.active-word {
            font-weight: 500;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}

.current-word-input-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 18px;

    label {
        font-family: 'Open Sans';
        font-size: 13px;
        color: $off-white;
        margin-bottom: 3px;
        font-weight: 500;
    }

    .current-word-input {
        position: relative;
        input {
            outline: none;
            border: none;
            height: 44px;
            padding-bottom: 5px;
            text-align: center;
            width: 100%;
            color: $blue-grey;
            border-radius: 12px;
        }
        
        .current-word-text {
            border-radius: 4px;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
            background-color: $off-white;
            font-weight: 400;
            font-family: 'Open Sans';
            font-size: 28px;
        }
        
        .next-word-text {
            font-weight: 400;
            font-family: "Open Sans";
            font-size: 23px;
            color: #888888;
            position: absolute;
            right: 20px;
            padding-top: 3px;
        }
    }

}

.progress-till-next-letter-wrapper {
    width: 90vw;
    margin: 0 auto;
}

.lower-info-wrapper {
    width: 100%;
    padding: 18px 5vw;
    .timer-wrapper, .info-wrapper {
        width: 50%;
    }

    .timer-wrapper {
        font-size: 50px;
        font-weight: 200;
        font-family: 'Bitter';
        .timer-seconds {
            font-size: 35px;
            font-weight: 300;
        }
    }

    .info-wrapper {
        text-align: right;
        .single-value {
            font-weight: 300;
            font-family: 'Bitter';
            text-align: right;
            font-size: 16px;
        }
    }
}

.active-letters-wrapper {
    width: calc(90vw);
    margin: 0px auto 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 3vw;
    position: relative;
    line-height: 25px;
    .letter-span {
        text-align: center;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        border-radius: 4px;
        width: 10vw;
        margin: 0 0.8vw 0 2.8vw;
        font-weight: 400;
        max-width: 40px;
        color: white;
        text-shadow: 1px 0 $dark-grey, -1px 0 $dark-grey, 0 1px $dark-grey, 0 -1px $dark-grey,
               1px 1px $dark-grey, -1px -1px $dark-grey, 1px -1px $dark-grey, -1px 1px $dark-grey;
    }

    .letter-progress-bar-wrapper {
        width: 6px;
        border: 1px solid $dark-grey;
        position: relative;
        border-radius: 2px;
        .letter-progress-bar {
            width: 4px;
            background-color: $dark-green;
            position: absolute;
            bottom: 0;
            border-radius: 0px;
        }
    }

    &.letters-disabled::after {
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: rgba($color: #ffffff, $alpha: 0.65);
    }
}

.current-letters-label {
    width: 100%;
    color: #252323;
    font-weight: 300;
    text-align: left;
    padding-left: 5vw;
    font-family: "Open Sans";
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        position: relative;
        top: 1px;
    }
}

.current-letters-sub-label {
    padding: 0 5vw;
    font-family: 'Bitter';
    font-size: 11px;
}

.results-header-section {
    height: 125px;
    width: 100%;
    display: grid;
    place-items: center;
    h1 {
        font-family: 'Bitter';
        font-weight: 300;
        text-align: center;
        font-size: 34px;
        margin-top: 25px;
    }
}

.results-section {
    width: 85%;
    margin: 20px auto;
    min-height: 100%;
    border-radius: 3px;

    .score-section {
        font-size: 50px;
        font-family: 'Bitter';
        font-weight: 200;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        text-align: center;
        .wps {
            font-weight: 300;
            font-size: 20px;
        }
    }

    .info-section {
        padding-bottom: 30px;
        .info-section-table {
            width: 95%;
            margin: 10px auto;
            font-family: 'Bitter';
            tr {
                border-bottom: 1px solid rgba($color: $blue-grey, $alpha: 0.25);
                th {
                    font-weight: 500;
                    padding-left: 5px;
                    color: $dark-grey;
                }
                
                td {
                    padding-right: 5px;
                    font-weight: 300;
                    color: $blue-grey;
                    text-align: end;
                    font-size: 18px;
                }
            }
        }
    }

    .repeat-section {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.new-letter-whole-wrapper {
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;

    h1 {
        font-weight: 400;
        font-size: 34px;
    }

    h2 {
        font-size: 22px;
        text-align: center;
        width: 85%;
        margin: 5px auto 26px;
        font-weight: 300;
        color: $blue-grey;

        .new-letter {
            color: $dark-grey;
            font-weight: 500;
            text-decoration: underline;
        }
    }
}