@import '../../../assets/variables.scss';


.background-box {
    height: 200px;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.words-wrapper {
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 300;
    color: $off-white;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;

    .single-word {
        &.active-word {
            font-weight: 500;
            text-decoration: underline;
            text-underline-offset: 5px;
        }
    }
}