/* You can add global styles to this file, and also import other style files */

@import 'assets/variables.scss';

.dark-red {
    color: $dark-red;
}

.blue-grey {
    color: $blue-grey;
}

.dark-grey {
    color: $dark-grey;
}

.off-white {
    color: $off-white;
}

.dark-red-bg {
    background-color: $dark-red;
}

.blue-grey-bg {
    background-color: $blue-grey;
}

.dark-grey-bg {
    background-color: $dark-grey;
}

.off-white-bg {
    background-color: $off-white;
}

.dark-red-border {
    border: 1px solid $dark-red;
}

.blue-grey-border {
    border: 1px solid $blue-grey;
}

.dark-grey-border {
    border: 1px solid $dark-grey;
}

.off-white-border {
    border: 1px solid $off-white;
}

.z-shadow {
    box-shadow: 0 2px 4px 0 rgba($color: $dark-grey, $alpha: 0.5);
}

.d-contents {
    display: contents;
}

.z-form-field {
    height: 36px;
    border-radius: 4px;
    color: $dark-grey;
    font-family: 'Open Sans';
    font-size: 13px;
    outline: none;
    border: none;
    padding: 0 10px;
    &::placeholder {
        color: #888888;
        font-family: 'Open Sans';
    }
}

.z-button {
    outline: none;
    border: none;
    border-radius: 3px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Bitter';
    padding: 0 16px 3px;
}


