<div *ngIf="guideService.guideConfig.steps[guideService.guideConfig.currentStep] as currentStep" [class.z-bg-overlay]="guideService.guideConfig.currentStep! === 0" class="z-guide-step {{currentStep.styleClass ? currentStep.styleClass : ''}} arrow-{{currentStep.arrowType}} off-white-bg">
    <div class="d-flex justify-content-between align-items-center guide-top-wrapper">
        <div class="guide-header bitter blue-grey">
            {{currentStep.header}}
        </div>
        <div class="guide-close-wrapper">
            <fa-icon class="dark-grey" style="font-size: 20px !important;" (click)="guideService.closeAndResetGuide()" [icon]="faTimes"></fa-icon>
        </div>
    </div>
    <div class="guide-description open-sans dark-grey">
        {{currentStep.description}}
    </div>
    <div class="guide-button-wrapper">
        <button class="{{guideService.guideConfig.currentStep === 5 ? 'guide-done-button' : 'guide-next-button'}} z-button dark-grey-bg off-white" (click)="guideService.nextStep()">{{(guideService.guideConfig.currentStep === 5) ? 'Done' : 'Next'}}</button>
    </div>
</div>